<a href="https://colab.research.google.com/github/sns800/HangulJasoFixer2/blob/master/%5B%EB%94%94%ED%81%90%EC%9D%98_%ED%97%88%EC%8A%AC%EC%BD%94%EB%94%A9%5D_%EB%B6%80%EB%8F%99%EC%82%B0_API_%EC%9D%B4%ED%95%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- **최신 버전**  
![](https://img.shields.io/badge/PublicDataReader-0.1.2-blue.svg)  

- **요구 사항**  
![](https://img.shields.io/badge/Python-3.7.4-yellow.svg) ![](https://img.shields.io/badge/Pandas-0.25.3-red.svg)

**PublicDataReader**는 [공공데이터포털](https://data.go.kr)에서 제공하는 OpenAPI 서비스를 Python으로 쉽게 이용할 수 있도록 도와주는 **데이터 수집 라이브러리**입니다. 2020년 12월 현재 [국토교통부 실거래가 정보](https://www.data.go.kr/dataset/3050988/openapi.do) 조회 서비스에 대한 인터페이스를 제공하고 있습니다. 추후 수요가 높은 Open API 서비스에 대한 인터페이스도 지속적으로 업데이트할 예정입니다.

## 사용 가능한 서비스

**메서드**              | **서비스 명**
---------------------- | --------------------
CondeFinder | 지역코드 조회
DataCollector | 서비스/기간 별 데이터 조회
AptTrade | 아파트매매 실거래자료 조회
AptTradeDetail | 아파트매매 실거래 상세 자료 조회
AptRent | 아파트 전월세 자료 조회
AptOwnership | 아파트 분양권전매 신고 자료 조회
OffiTrade | 오피스텔 매매 신고 조회
OffiRent | 오피스텔 전월세 신고 조회
RHTrade | 연립다세대 매매 실거래자료 조회
RHRent | 연립다세대 전월세 실거래자료 조회
DHTrade | 단독/다가구 매매 실거래 조회
DHRent | 단독/다가구 전월세 자료 조회
LandTrade | 토지 매매 신고 조회
BizTrade | 상업업무용 부동산 매매 신고 자료 조회

In [ ]:
# PublicDataReader 설치
!pip install PublicDataReader

Collecting PublicDataReader
  Downloading https://files.pythonhosted.org/packages/08/13/06f7e6c16226d6e1da438afa7e408f572599f60181121489ce9ef8d3bd22/PublicDataReader-2021.4.12-py3-none-any.whl
Installing collected packages: PublicDataReader
Successfully installed PublicDataReader-2021.4.12

In [ ]:
# 라이브러리 임포트 및 버전 확인
import PublicDataReader as pdr
print(pdr.__version__)

>>> PublicDataReader Version : 2021.4.12

- Author : Wooil Jeong
- E-mail : wooil@kakao.com
- Github : https://github.com/WooilJeong/PublicDataReader
- Blog : https://wooiljeong.github.io

In [ ]:
# 공공 데이터 포털 Open API 서비스 인증키
serviceKey = "<< YOUR API KEY >>"
# 국토교통부 실거래가 Open API 인스턴스 생성
molit = pdr.Transaction(serviceKey)

>>> 아파트매매 실거래자료 조회 서비스가 정상 작동합니다.
>>> 아파트매매 실거래 상세 자료 조회 서비스가 정상 작동합니다.
>>> 아파트 전월세 자료 조회 서비스가 정상 작동합니다.
>>> 아파트 분양권전매 신고 자료 조회 서비스가 정상 작동합니다.
>>> 오피스텔 매매 신고 조회 서비스가 정상 작동합니다.
>>> 오피스텔 전월세 신고 조회 서비스가 정상 작동합니다.
>>> 연립다세대 매매 실거래자료 조회 서비스가 정상 작동합니다.
>>> 연립다세대 전월세 실거래자료 조회 서비스가 정상 작동합니다.
>>> 단독/다가구 매매 실거래 조회 서비스가 정상 작동합니다.
>>> 단독/다가구 전월세 자료 조회 서비스가 정상 작동합니다.
>>> 토지 매매 신고 조회 서비스가 정상 작동합니다.
>>> 상업업무용 부동산 매매 신고 자료 조회 서비스가 정상 작동합니다.

In [ ]:
# 지역코드 조회
bdongName = '풍산동'
codeResult = molit.CodeFinder(bdongName)
codeResult

          법정동명  법정구코드
0  경기도 하남시 풍산동  41450

In [ ]:
# 지역코드 및 계약월 설정
targetCode = 11350
yyyymm = 202105

In [ ]:
# 5. 지역, 월 별 데이터 프레임 만들기
# Function(지역코드(5자리), 계약월(YYYYMM))
# (예시) '2020년 12월', '분당구'에 해당하는 자료를 Pandas DataFrame으로 반환

df_AptTrade = molit.AptTrade(targetCode, yyyymm)             # 아파트매매 실거래자료 조회
df_AptTradeDetail = molit.AptTradeDetail(targetCode, yyyymm) # 아파트매매 실거래 상세 자료 조회
df_AptRent = molit.AptRent(targetCode, yyyymm)               # 아파트 전월세 자료 조회
df_AptOwnership = molit.AptOwnership(targetCode, yyyymm)     # 아파트 분양권전매 신고 자료 조회

df_OffiTrade = molit.OffiTrade(targetCode, yyyymm)           # 오피스텔 매매 신고 조회
df_OffiRent = molit.OffiRent(targetCode, yyyymm)             # 오피스텔 전월세 신고 조회
df_RHTrade = molit.RHTrade(targetCode, yyyymm)               # 연립다세대 매매 실거래자료 조회
df_RHRent = molit.RHRent(targetCode, yyyymm)                 # 연립다세대 전월세 실거래자료 조회

df_DHTrade = molit.DHTrade(targetCode, yyyymm)               # 단독/다가구 매매 실거래 조회
df_DHRent = molit.DHRent(targetCode, yyyymm)                 # 단독/다가구 전월세 자료 조회
df_LandTrade = molit.LandTrade(targetCode, yyyymm)           # 토지 매매 신고 조회
df_BizTrade = molit.BizTrade(targetCode, yyyymm)             # 상업업무용 부동산 매매 신고 자료 조회

#### 5-1. 아파트 실거래가 정보

In [ ]:
from datetime import datetime, timedelta
import pandas as pd

this_month = datetime.now().strftime('%Y%m')
last_month = (datetime.now()-timedelta(days=30)).strftime('%Y%m')
two_week = (datetime.now() - timedelta(days=25)).strftime('%Y-%m-%d')
if datetime.now().strftime('%d') > '15':
    df_AptTrade = molit.AptTrade(targetCode, this_month)  # 아파트매매 실거래자료 조회
else:
    this_month = datetime.now().strftime('%Y%m')
    last_month = (datetime.now() - timedelta(days=30)).strftime('%Y%m')
    df_AptTrade_last = molit.AptTrade(targetCode, last_month)  # 아파트매매 실거래자료 조회
    df_AptTrade_this = molit.AptTrade(targetCode, this_month)  # 아파트매매 실거래자료 조회
    df_AptTrade = pd.concat([df_AptTrade_last, df_AptTrade_this], ignore_index=True)
two_week = (datetime.now() - timedelta(days=15)).strftime('%Y-%m-%d')
result = df_AptTrade[df_AptTrade['법정동'] == '풍산동'][df_AptTrade['거래일'] >= two_week]

def apt_string(row):
  return f"{row['거래일'].strftime('%Y년 %m월 %d일')}에 {row['아파트']} {row['층']}층, {int(row['거래금액']/10000)}억 {row['거래금액']%10000}만원에 매매되었습니다. (전용면적: {row['전용면적']}, 건축년도: {row['건축년도']})"

result['text'] = result.apply(lambda x: apt_string(x), axis=1)

2021년 05월 07일에 미사강변 동일하이빌 17층, 8억 6300만원에 매매되었습니다. (전용면적: 59.93, 건축년도: 2018)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_AptRent = molit.AptRent(targetCode, yyyymm)               # 아파트 전월세 자료 조회
df_AptRent.head()

    지역코드  법정동        거래일            아파트   지번     전용면적   층  건축년도   보증금액  월세금액
0  41450  감이동 2021-01-12       감일 한라비발디  530  84.9200  17  2019  60000     0
1  41450  감이동 2021-01-14        감일 센트레빌  535  59.9200  13  2020  38000     0
2  41450  감이동 2021-01-21  포웰시티 푸르지오 라포레  500  99.4327  16  2021  29472     0
3  41450  감이동 2021-01-26       감일 한라비발디  530  84.8700  18  2019  28000     0
4  41450  감이동 2021-01-26       감일 한라비발디  530  84.8700  14  2019  65000     0

#### 5-2. 오피스텔 실거래가 정보

In [ ]:
df_OffiTrade = molit.OffiTrade(targetCode, yyyymm)           # 오피스텔 매매 신고 조회
df_OffiTrade.head()

    지역코드  법정동        거래일  시군구            단지      지번   전용면적   층   거래금액
0  41450  덕풍동 2021-01-15  하남시         트원렉스1     743  33.62   6  12200
1  41450  덕풍동 2021-01-29  하남시      (326-48)  326-48  59.89   7  32000
2  41450  덕풍동 2021-01-30  하남시         트원렉스1     743  52.62   4  20000
3  41450  망월동 2021-01-04  하남시       우성르보아리버  1096-2  18.09  16  12000
4  41450  망월동 2021-01-04  하남시  미사역 헤리움 애비뉴어  1129-2  26.46   7  21700

In [ ]:
df_OffiRent = molit.OffiRent(targetCode, yyyymm)             # 오피스텔 전월세 신고 조회
df_OffiRent.head()

    지역코드  법정동        거래일  시군구        단지     지번   전용면적   층    보증금  월세
0  41450  덕풍동 2021-01-06  하남시  블리스 오피스텔  460-1  23.26  12  12500   0
1  41450  덕풍동 2021-01-16  하남시     빌리브하남    735  32.41   3  25000   0
2  41450  덕풍동 2021-01-18  하남시  하남푸르지오시티    741  26.40   4    500  45
3  41450  덕풍동 2021-01-18  하남시  하남푸르지오시티    741  26.41   6    500  45
4  41450  덕풍동 2021-01-19  하남시     빌리브하남    735  84.46  10  63000   0

#### 5-3. 연립다세대 실거래가 정보

In [ ]:
df_RHTrade = molit.RHTrade(targetCode, yyyymm)               # 연립다세대 매매 실거래자료 조회
df_RHTrade.head()

    지역코드  법정동        거래일          연립다세대      지번   전용면적  건축년도  층   거래금액
0  11680  개포동 2021-01-02  우성파크빌라(161-0)     161  44.00  1993 -1  27500
1  11680  개포동 2021-01-05  파크힐빌리지(160-4)   160-4  36.44  1995  3  38000
2  11680  개포동 2021-01-05          베네스트빌  1179-6  50.18  2002  4  51500
3  11680  개포동 2021-01-05          베네스트빌  1179-6  50.18  2002  4  51500
4  11680  개포동 2021-01-06          베네스트빌  1179-6  44.28  2002  2  36000

In [ ]:
df_RHRent = molit.RHRent(targetCode, yyyymm)                 # 연립다세대 전월세 실거래자료 조회
df_RHRent.head()

    지역코드  법정동        거래일  연립다세대       지번    전용면적  건축년도  층   보증금액  월세금액
0  11680  개포동 2021-01-01   명성빌라   1201-6  55.100  1993  3   7000    60
1  11680  개포동 2021-01-03   동산빌라  1164-29  42.600  1996  4  16800     0
2  11680  개포동 2021-01-04  새롬그린빌  1219-10  56.790  1995  1  30450     0
3  11680  개포동 2021-01-04    호원빌   1171-9  45.885  2016  2  26250     0
4  11680  개포동 2021-01-05    드림빌   660-34  14.880  2012  2   7500     0

#### 5-4. 단독/다가구 실거래가 정보

In [ ]:
df_DHTrade = molit.DHTrade(targetCode, yyyymm)               # 단독/다가구 매매 실거래 조회
df_DHTrade.head()

    지역코드  법정동        거래일 주택유형   대지면적     연면적  건축년도    거래금액
0  11680  개포동 2021-01-07   단독  540.1  498.42  1997  820000
1  11680  논현동 2021-01-19  다가구  186.1  419.52  1995  300000
2  11680  논현동 2021-01-19   단독  298.8  453.29  1978  630000
3  11680  논현동 2021-01-22   단독  295.6  144.50  1976  520000
4  11680  대치동 2021-01-18   단독  165.9  131.50  1977  500000

In [ ]:
df_DHRent = molit.DHRent(targetCode, yyyymm)                 # 단독/다가구 전월세 자료 조회
df_DHRent.head()

    지역코드  법정동        거래일   계약면적   보증금액  월세금액
0  11680  개포동 2021-01-04  82.00  42000     0
1  11680  개포동 2021-01-05  44.96  15000    33
2  11680  개포동 2021-01-05  44.96  15000    33
3  11680  개포동 2021-01-05  45.00   2000    80
4  11680  개포동 2021-01-06  16.50   1000    51

#### 5-5. 토지/상업용 실거래가 정보

In [ ]:
df_LandTrade = molit.LandTrade(targetCode, yyyymm)           # 토지 매매 신고 조회
df_LandTrade.head()

    지역코드  법정동        거래일  시군구       용도지역 지목  지분거래구분  거래면적     거래금액
0  11680  개포동 2021-01-14  강남구     자연녹지지역  답     NaN    43    15712
1  11680  논현동 2021-01-13  강남구  제3종일반주거지역  대     NaN   426  1415000
2  11680  논현동 2021-01-14  강남구  제2종일반주거지역  대     NaN   172   466749
3  11680  논현동 2021-01-14  강남구  제2종일반주거지역  대     NaN   172   466749
4  11680  대치동 2021-01-07  강남구  제3종일반주거지역  전     NaN     4    25000

In [ ]:
df_BizTrade = molit.BizTrade(targetCode, yyyymm)             # 상업업무용 부동산 매매 신고 자료 조회
df_BizTrade.head()

    지역코드  법정동        거래일  시군구     용도지역  ...    건물면적    건물주용도    건축년도     층    거래금액
0  11680  개포동 2021-01-08  강남구     일반상업  ...   31.91       업무  1997.0  22.0   21500
1  11680  개포동 2021-01-15  강남구  제2종일반주거  ...   56.25  제2종근린생활  2019.0   NaN  150000
2  11680  개포동 2021-01-29  강남구  제3종일반주거  ...  103.88  제1종근린생활  2011.0   2.0   34000
3  11680  개포동 2021-01-30  강남구     일반상업  ...   17.68       판매  1984.0   NaN   10777
4  11680  논현동 2021-01-07  강남구  제3종일반주거  ...  599.98  제1종근린생활  1994.0   NaN  840000

[5 rows x 13 columns]

### 6. 기간별로 데이터 불러오기

In [ ]:
# 6. 지역, 기간 별 데이터 프레임 만들기
# Function(API서비스 메서드, 지역코드(5자리), 시작월(YYYYMM), 종료월(YYYYMM))
df_AptTradeSum = molit.DataCollector(molit.AptTrade, 41135, 202001, 202012)
df_AptTradeDetailSum = molit.DataCollector(molit.AptTradeDetail, 41135, 202001, 202012)
df_AptRentSum = molit.DataCollector(molit.AptRent, 41135, 202001, 202012)
df_AptOwnershipSum = molit.DataCollector(molit.AptOwnership, 41135, 202001, 202012)

df_OffiTradeSum = molit.DataCollector(molit.OffiTrade, 41135, 202001, 202012)
df_OffiRentSum = molit.DataCollector(molit.OffiRent, 41135, 202001, 202012)
df_RHTradeSum = molit.DataCollector(molit.RHTrade, 41135, 202001, 202012)
df_RHRentSum = molit.DataCollector(molit.RHRent, 41135, 202001, 202012)

df_DHTradeSum = molit.DataCollector(molit.DHTrade, 41135, 202001, 202012)
df_DHRentSum = molit.DataCollector(molit.DHRent, 41135, 202001, 202012)
df_LandTradeSum = molit.DataCollector(molit.LandTrade, 41135, 202001, 202012)
df_BizTradeSum = molit.DataCollector(molit.BizTrade, 41135, 202001, 202012)

In [ ]:
df_AptTradeSum.head()

    지역코드  법정동        거래일            아파트   지번    전용면적   층  건축년도    거래금액
0  41135  구미동 2020-01-03  까치마을(3단지)(신원)   66  162.87  17  1995  130000
1  41135  구미동 2020-01-03  무지개(10단지)(삼성)  222  101.82  15  1996   74000
2  41135  구미동 2020-01-03  까치마을(2단지)(주공)   88   49.36   8  1995   53200
3  41135  구미동 2020-01-04  무지개(10단지)(건영)  222  134.82  14  1996   83500
4  41135  구미동 2020-01-04   무지개(8단지)(제일)  243  101.91  10  1995   71000

In [ ]:
df_AptTradeSum.tail()

       지역코드  법정동        거래일                 아파트   지번     전용면적   층  건축년도    거래금액
1406  41135  판교동 2020-03-14     판교원마을9단지(한림풀에버)  585  84.9907   1  2009  101000
1407  41135  판교동 2020-03-14   판교원마을7단지(모아미래도)임대  637   56.555  11  2009   88500
1408  41135  판교동 2020-03-18   판교원마을7단지(모아미래도)임대  637    80.21  11  2009  103000
1409  41135  판교동 2020-03-19  판교원마을6단지(진원로제비앙)임대  635    83.33   6  2009   93000
1410  41135  판교동 2020-03-21     판교원마을9단지(한림풀에버)  585  71.8438   6  2009  100500